.cards-container{
    margin-left: 20%; 
    margin-top: 4%;
    padding-top: 2%;
    width: 80%;
    height: 100vh;
    float: left;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 16px; /* Adjust the gap between cards */
    justify-content: space-around; /* Adjust alignment as needed */
    border: 20px solid red;

}