/* .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap between cards */
    justify-content: space-around; /* Adjust alignment as needed */
    border: 2px solid red;
}

.custom-card {
    flex: 1 0 300px; /* Adjust the width as needed */
    max-width: 300px; /* Adjust the maximum width as needed */
    margin-bottom: 16px; /* Adjust the margin as needed */
    border: 20px solid green;
}

.card-with-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
 */
